services:
  main:
    image: ${IMAGE}
    container_name: omgafoo_main
    environment:
      - APP_ENV=production
    env_file:
      - .env
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro