@layer base {
    body > header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > * {
            display: flex;
            align-items: center;
            padding: var(--space-2) var(--space-4);
            gap: var(--space-6);
            img {
                height: var(--space-12);
            }
        }
    }
}