:root {
    --space-1\/2: calc(var(--spacing) / 2);
    --space-1: var(--spacing);
    --space-2: calc(var(--space-1) * 2);
    --space-3: calc(var(--space-1) * 3);
    --space-4: calc(var(--space-1) * 4);
    --space-5: calc(var(--space-1) * 5);
    --space-6: calc(var(--space-1) * 6);
    --space-8: calc(var(--space-1) * 8);
    --space-10: calc(var(--space-1) * 10);
    --space-12: calc(var(--space-1) * 12);
    --space-16: calc(var(--space-1) * 16);
    --space-20: calc(var(--space-1) * 20);
    --space-24: calc(var(--space-1) * 24);
    --space-32: calc(var(--space-1) * 32);
    --space-72: calc(var(--space-1) * 72);
}