@layer base {
    :root {
        --sidebar-width: var(--space-72);
    }

    body {
        font-size: var(--text-base);
        background-color: var(--color-stone-900);
        color: var(--color-white);
        font-family: 'Quicksand', monospace;
        font-weight: 600;

        header {
            background-color: var(--color-stone-800);
            border-bottom: 1px solid var(--color-stone-700);

            a.pretty-link {
                position: relative;
                text-decoration: none;
                font-weight: bold;
                font-size: var(--text-base);
                text-transform: lowercase;

                background-clip: text;
                --initial-breakpoint-size: 0.001;
                --initial-breakpoint: calc(50% - var(--initial-breakpoint-size) * 50%);
                background-image: linear-gradient(90deg, var(--color-white), var(--initial-breakpoint), var(--color-white), var(--initial-breakpoint), var(--color-blue-400), calc(100% - var(--initial-breakpoint)), var(--color-white), calc(100% - var(--initial-breakpoint)), var(--color-white));
                background-size: 100% auto;
                color: transparent;
                background-position: center;
                transition: background-size 0.3s ease;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    right: 0;
                    transform: scaleX(0);
                    transition: transform 0.3s ease;
                    height: 2px;
                    background-color: var(--color-blue-400);
                }
                &.on-this-page {
                    color: var(--color-blue-200);
                    background-clip: none;
                    background-image: none;
                    &::after {
                        background-color: var(--color-blue-200);
                        transform: scaleX(1);
                    }
                }
                &:hover, &:focus-visible {
                    background-size: calc(100% / var(--initial-breakpoint-size)) auto;
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    a {
        text-decoration: underline;
    }

    h3 {
        font-size: var(--text-base);
        margin-bottom: var(--space-1);
        font-weight: 700;
        text-transform: uppercase;
    }

    .rect {
        background-color: var(--color-stone-900);
        border: 1px solid var(--color-stone-700);
        padding: 0;
        
        section {
            &.has-top-border,
            &:not(:first-child) {
                border-top: 1px solid var(--color-stone-700);
            }
        }

        &.round {
            border-radius: var(--radius-lg);
        }

        &.hover-highlight:hover {
            background-color: var(--color-stone-800);
        }

        &.checked-highlight:has(:checked) {
            background-color: var(--color-blue-800);
            border-color: var(--color-blue-400);
        }
    }

    hr {
        border: none;
        border-top: 1px solid var(--color-stone-700);
        margin: var(--space-2) 0;
    }

    .padded {
        padding: var(--space-1) var(--space-3);
    }

    .form-label {
        font-weight: 700;
        display: block;
        font-size: var(--text-xs);
        text-transform: uppercase;
        color: var(--color-stone-400);
    }

    input[type="number"],
    input[type="text"],
    select:not([multiple]) {
        background-color: var(--color-stone-800);
        border: 1px solid var(--color-stone-600);
        color: var(--color-stone-200);
        padding: var(--space-1\/2) var(--space-2);
        border-radius: var(--radius-md);
        font-size: var(--text-sm);

        &.input-invalid, &:invalid {
            border-color: var(--color-red-500);
            background-color: var(--color-red-900);
        }
    }

    select[multiple] {
        font-size: var(--text-sm);
        height: auto;
        max-width: 100%;
        option {
            padding: var(--space-1) var(--space-4);
            overflow-x: hidden;
            text-overflow: ellipsis;
            &:nth-child(2n) {
                background-color: var(--color-stone-800);
            }
            &:checked {
                background-color: var(--color-blue-600);
                color: var(--color-white);
            }
        }
    }

    input[type="range"] {
        width: 100%;
        accent-color: var(--color-blue-400);
        
    }

    .card {
        background-color: var(--color-stone-800);
        border-radius: var(--radius-lg);
        padding: calc(--space-4);
    }

    .default {
        background-color: var(--color-stone-800);
        border: 1px solid var(--color-stone-600);
        color: var(--color-stone-200);

        &:has(:checked) {
            background-color: var(--color-stone-700);
            border-color: var(--color-blue-300);
            color: var(--color-white);
        }
    }

    .warning {
        background-color: var(--color-yellow-900);
        border: 1px solid var(--color-yellow-600);
        color: var(--color-yellow-50);

        &:has(:checked) {
            background-color: var(--color-yellow-700);
            border-color: var(--color-yellow-300);
            color: var(--color-white);
        }
    }

    .warning-text {
        color: var(--color-yellow-400);
    }

    .danger {
        background-color: var(--color-red-950);
        border: 1px solid var(--color-red-900);
        color: var(--color-red-50);

        &:has(:checked) {
            background-color: var(--color-red-700);
            border-color: var(--color-red-300);
            color: var(--color-white);
        }
    }

    .danger-text {
        color: var(--color-red-400);
    }

    .hint-text {
        color: var(--color-stone-400);
        font-size: var(--text-sm);
        text-transform: lowercase;
    }

    :disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}