@layer components {
    :root {
        --btn-radius: var(--radius-xl);
        --btn-padding-y: var(--space-2);
        --btn-padding-x: var(--space-4);
        --btn-icon-padding: var(--space-2);
        --btn-icon-font-size: var(--text-4xl);
    }

    .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: var(--btn-padding-y) var(--btn-padding-x);
        border-radius: var(--btn-radius);
        cursor: pointer;
        transition: background-color 0.2s ease, color 0.2s ease;
    }

    .icon-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: var(--btn-icon-padding);
        border-radius: var(--btn-radius);
        cursor: pointer;
        transition: background-color 0.2s ease, color 0.2s ease;
        * { font-size: var(--btn-icon-font-size); }
    }
}