{{ define "head" }}
	<title>Prismanis</title>
	<meta property="og:title" content="Prismanis" />
	<meta property="og:site_name" content="Prismanis" />
	<meta property="og:description" content="Draw glass things and shine light on them" />
	<meta property="og:url" content="{{ .Protocol }}://{{ .Host }}/prismanis" />
	<meta property="og:image" content="{{ .Protocol }}://{{ .Host }}/static/assets/img/previews/prismanis.png" />
	<meta property="og:logo" content="{{ .Protocol }}://{{ .Host }}/static/assets/img/image.png" />
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary_large_image" />
{{ end }}
{{ define "content" }}
<div class="relative grid grid-cols-[auto_1fr] h-full">
	<aside class="relative sidebar rect border-t-0 border-l-0 border-b-0 h-full flex flex-col w-(--sidebar-width)">
		<section class="min-h-72 padded">
			<h3 id="tool-name">Tool options</h3>
			<!-- JS populated -->
			<div class="flex items-center gap-2">
				<i class="las la-info-circle text-2xl"></i>
				<p id="tool-description" class="hint-text"></p>
			</div>
			<div id="tool-options" class="flex flex-col gap-3 my-3"></div>
		</section>
		<section class="flex-1 flex flex-col">
			<h3 class="padded">Scene objects</h3>
			<!-- JS populated -->
			<select multiple id="scene-objects" class="h-full"></select>
		</section>
		<div class="toolbox absolute top-2 -right-2 translate-x-full flex flex-col gap-2">
			<div
				class="flex flex-col gap-2 has-focus-visible:outline-blue-500 has-focus-visible:outline outline-offset-4 rounded-xl"
			>
				<label class="icon-btn default">
					<i class="las la-mouse-pointer"></i>
					<input type="radio" value="toggle-transform" name="tool" class="sr-only" />
				</label>
				<label class="icon-btn default">
					<i class="las la-paint-brush"></i>
					<input type="radio" value="toggle-paint" name="tool" class="sr-only" checked />
				</label>
				<label class="icon-btn default">
					<i class="las la-shapes"></i>
					<input type="radio" value="toggle-prism" name="tool" class="sr-only" />
				</label>
				<label class="icon-btn default">
					<i class="las la-glasses"></i>
					<input type="radio" value="toggle-lens" name="tool" class="sr-only" />
				</label>
				<label class="icon-btn warning">
					<i class="las la-lightbulb"></i>
					<input type="radio" value="toggle-raycast" name="tool" class="sr-only" />
				</label>
			</div>
			<hr class="w-2/3 mx-auto" />
			<button class="icon-btn danger" id="clear-btn">
				<i class="las la-trash"></i>
			</button>
			<button class="icon-btn default" id="undo-btn">
				<i class="las la-undo"></i>
			</button>
			<button class="icon-btn default" id="redo-btn">
				<i class="las la-redo"></i>
			</button>
		</div>
	</aside>
	<div class="flex-1 h-full"><canvas id="canvas"></canvas></div>
	<p class="absolute bottom-1 right-1 text-xs">Point count: <span id="point-count">0</span></p>
</div>
{{ end }}
